<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>IFM</servlet-name>
		<servlet-class>iFM.IFMServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IFM</servlet-name>
		<url-pattern>/ifm</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>iFM.login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>transaction</servlet-name>
		<servlet-class>iFM.transaction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>transaction</servlet-name>
		<url-pattern>/transaction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>iFM.test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewUser</servlet-name>
		<servlet-class>iFM.NewUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewUser</servlet-name>
		<url-pattern>/NewUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>profile</servlet-name>
		<servlet-class>iFM.profile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>iFM.home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>sign_up</servlet-name>
		<servlet-class>iFM.signup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sign_up</servlet-name>
		<url-pattern>/sign_up</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>signup_final</servlet-name>
		<servlet-class>iFM.signup_final</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signup_final</servlet-name>
		<url-pattern>/signup_final</url-pattern>
	</servlet-mapping>


	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
